{% extends "slides/base.html" %}
{% load static %}
{% block content %}
<a href="/courses/{{courseNum}}"> <h2> Return to all slides </h2> </a>
<a href="/slides/{{num}}/{{pageNum|add:"-1"}}"><h3>Previous slide</h3></a> <a href="/slides/{{num}}/{{pageNum|add:"1"}}"><h3>Next slide</h3></a>
<object data="{% static fileName %}" width="800px" height="600px">
</object>

<a href="/comments/{{num}}/{{pageNum}}"><h5>Add a comment</h5></a>
<hr>
{% for comment in comments %}
	<a href="/comments/viewComment/{{comment.id}}">
		<p><em>{{comment.description}}</em><p>
		<p>Author: {{comment.author}}</p>
	</a>
	<hr>
{% endfor %}
{% endblock %}
